$body-width: 980px;
@use "sass:math";

$color: #24292e;
$body-padding-x: 45px;

.docs-container {
  position: relative;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    a {
      &.header-anchor {
        color: $color;
        position: absolute;
        left: #{$body-padding-x - 15px};
        z-index: 2;
        visibility: hidden;
      }
    }
    &:hover {
      a {
        &.header-anchor {
          color: $color;
          visibility: visible;
        }
        text-decoration: none;
      }
    }
  }
}
#warpper {
  box-sizing: border-box;
  padding: 20px 45px;
}
.table-of-contents {
  position: fixed;
  right: 5%;
  // top: 10%;
  font-size: 12px;
  padding: 20px 5px;
  width: 200px;
  height: 100%;
  overflow-y: auto;
  & > ul {
    // padding: ;
  }
}
