@font-face {
  font-family: 'FiraCode';
  src: url('../fonts/FiraCode/FiraCode-Regular.woff') format('woff'),
    url('../fonts/FiraCode/FiraCode-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
